<connectionStrings>
  <add name="MiniAmazon.Local" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=MiniAmazon;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniAmazon.Remote" connectionString="Server=5e015b08-069f-4ca4-96d5-a19e0014537c.sqlserver.sequelizer.com;Database=db5e015b08069f4ca496d5a19e0014537c;User ID=rbbmbakszfnsnafd;Password=ReDqFdfDyF2Lj4dfp24ZijUufdaHfjWj5PnKtrcL6GeEiVGaiABNfu8FsijCcDxo;"/>
</connectionStrings>