<connectionStrings>
  <add name="MiniDropbox.Local" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=MiniDropbox;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  <add name="MiniDropbox.Remote" connectionString="Server=1a2d98b9-11cc-49c4-93c4-a200001eef71.sqlserver.sequelizer.com;Database=db1a2d98b911cc49c493c4a200001eef71;User ID=ioewfrbcwfkwsrte;Password=QMfuxiAX8hpdLxYQ5TCUteuFsHAaYWKrCvwutaomhu3ezaACvS68k8YLrGbXPA7k;"/>
</connectionStrings>