@model MiniDropbox.Web.Models.AccountLoginModel

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
}

<h1>Mini-Dropbox</h1>

@using (@Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "form-signin" }))
{
    <h2 class="form-signin-heading">Please log in</h2>
    @Html.TextBoxFor(x=>x.Email,new {@class="input-block-level"})
    @Html.PasswordFor(x=>x.Password,new {@class="input-block-level"})
  
    <label class="checkbox">
       <input type="checkbox" value="remember-me"> Remember me
    </label>
    
    
    <button class="btn btn-large btn-primary" type="submit">Log in</button>
    @Html.ActionLink("Register", "Register", null, new { @class = "btn btn-large " })
}

